:root{
    --bg-color: rgb(121, 182, 218);
    --bg-colorTwo: rgb(185, 243, 174);

    --text-colorLight: rgb(255, 255, 255);
    --text-colorDark: rgb(48, 48, 48);

    --highlight-color: orange;

    --shadow: rgba(97, 97, 97, 0.548);
}

body{
    margin:0;
}

/* misc */
#container{
    border: 1px solid red;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidebar, #header, #main{
    border: 1px solid blue;
    background-color: var(--bg-color)
}

.logo, .navOne, .navTwo{
    border: 1px solid green;
    background-color: var(--bg-colorTwo)
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sidebar{
    grid-column: 1/2;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 1fr;

    z-index: 2;
}

#header{
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr;

    z-index: 1;

    box-shadow: 0 5px 10px var(--shadow);
}

#main{
    grid-column: 2/3;
    grid-row: 2/3;

    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
}

li{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    list-style: none;    
    align-items: center;
}

.side-icon{
    height: 25px;
    width: 25px;
}

p{
    margin: 0;
}

/* header TOP */

.topHeader > *{
    border: 1px solid rgb(26, 9, 105);
}

.bottomHeader{
    border: 1px solid rgb(136, 114, 233);
}

.topHeader{
    display: grid;
    grid-template-columns: 40px 1fr 10vw 40px 40px 200px;
    column-gap: 10px;
    margin: 3vh 2vw 0vh 5vw;
    align-items: center;  
} 

.searchIcon{
    grid-column: 1/2;
}

.searchIcon, .alarmIcon, .profileIcon{
    height: 40px;
    width: 40px;
}

.searchBar, .username{
    width: 100%;
}

.searchBar{
    height: 38px;
    width: clamp(100px, 50%, 1fr);
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    grid-column: 2/3;
}

.username{
    height: 40px;
    display:grid;
    align-content: center;
    grid-column: 6/7;
}

.alarmIcon{
    grid-column: 4/5;
}

.profileIcon{
    grid-column: 5/6;
}

.useText{
    padding: 0 0 0 1vw;
}

/* header Bottom */
.bottomHeader{
    display: grid;
    grid-template-columns: 80px 1fr 340px;
    margin: 2vh 2vw 2vh 5vw;
    align-items: center;  
}

.bottomHeader ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgba(255, 0, 0, 0.219);
    margin: 0;
    justify-items:end
}

.bottomHeader ul li{
    display: grid;
    align-items: center;
    justify-content: end;
}

.bottomNavButtons{
    grid-column: 3/4;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--bg-colorTwo);
    color: var(--text-colorDark);    
}

.profileIconLarge{
    height: 80px;
    width: 80px;
}

.bottomHeaderText{
    display: grid;
    align-content: center;
    grid-column: 2/3;
}

.greeting{
    font-size: clamp(15px, 1.5vw, 22px);
    margin: 0;
    padding: 0 0 5px 0;
}

.fullUsername{
    font-size: clamp(20px, 1.5vw, 30px);    
    font-weight: bold;
    margin: 0;
}



/* sidebar */
.icon{
    height: 40px;
    width: 40px;
    border: 1px solid green;
    margin: 0 1vw 0 1.5vw;
}

ul{
    padding-inline-start: 0px
}

.navOne ul li, .navTwo ul li{
    font-size: clamp(8px, 2.5vw, 20px);
    margin: 0 0 0 1.5vw;
}

.navOne ul{
    display: grid;
    height: 90%;
    align-items: space-between;
}

.navTwo ul li{
    margin: 1.5vh 0 1.5vh 1.5vw;
}

/* main */

.leftContent{
    border: 1px solid white;

    grid-column: 1/2;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr
}

.articles{
    border: 1px solid rgb(189, 23, 23);
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 30px 30px;
    margin: 0 0 50px 0;
}

.article{
    border: 1px solid red;
}

.news{
    border: 1px solid blue;
    margin: 5px 3px 5px 3px;
    padding: 0 0 5px 10px;
}

.rightContent{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.rightTop{
    border: 1px solid rgb(196, 144, 49);

    grid-column: 1/2;
    grid-row: 1/2;
}

.rightBottom{
    border: 1px solid rgb(238, 255, 0);

    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 51px 0;

}

.announcements{
    margin: 50px 0 0 0;
    border: 1px solid white;
}

.trends{
    display: flex;
    flex-direction: column;
    align-content: end;
    margin: 10px 0 0 0;
    row-gap: 2vh;

    align-content: end;
}

.trend{
    display: grid;
    grid-template-columns: 1fr 4fr;

    align-items: center;

    border: 1px solid black;
    margin: 5px 15px 0 15px;  
    padding: 0 10px 0 10px; 
}

.small-icon{
    height: 15px;
    width: 15px;
}



